{% extends "base.html" %}

<!-- 头部 -->
{% block nav-header %}
    <div class="pg-header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand nav-logo" href="#">运维管理中心</a>
                </div>
                <div id="nav-header">
                    <ul class="nav navbar-nav">
                        <li><a href="#">云平台</a></li>
                        <li><a href="#">监控中心</a></li>
                        <li><a href="#">版本发布</a></li>
                    </ul>
                    <ul class="nav navbar-nav" style="float: right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user">
                                {{ request.session.userinfo.username }}
                            </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

<!-- 左侧菜单 -->
{% block left-menu %}
    <div class="item">
        <div class="item-title">主机管理</div>
        <div class="item-permission hide">
            <a href="/arya/app02/hostinfo/"> 主机列表 </a>
        </div>
        <div class="item-permission hide">
            <a href="/arya/app02/business/"> 业务线 </a>
        </div>
    </div>
    <div class="item">
        <div class="item-title">用户管理</div>
        <div class="item-permission hide">
            <a href="/arya/app01/userinfo/"> 用户列表 </a>
        </div>
        <div class="item-permission hide">
            <a href="/arya/app01/usertype/"> 用户类型 </a>
        </div>
        <div class="item-permission hide">
            <a href="/arya/app01/role/"> 角色列表 </a>
        </div>
    </div>
{% endblock %}

{% block right-content %}
    <div class="right-content">
        <h2>Hello World!</h2>
    </div>
{% endblock %}


{% block JavaScripts %}
    <script>
        // 顶部tab切换激活
        function NavTable() {
            var ele = $('#nav-header').children('ul').first().find('a');
            ele.click(function () {
                $(this).parent('li').addClass('active').siblings().removeClass('active');

            });
        }
        // 激活当前选项
        function ActiveMenu() {
            var ele = $('div.item-permission').children('a');
            ele.click(function () {
                $(this).addClass('active').parent('div.item-permission').siblings('div.item-permission').children('a').removeClass('active');
                $(this).parents('div.item').siblings().find('a').removeClass('active')
            })
        }
        // 控制菜单是否展开
        function EventMenu() {
            $('div.item-title').click(function () {
                var mene_obj = $(this).nextAll('div.item-permission');
                mene_obj.each(function () {
                    var is_hide = $(this).hasClass('hide');
                    if (is_hide) {
                        console.log(111);
                        $(this).removeClass('hide')
                    } else {
                        $(this).addClass('hide')
                    }
                })
            })
        }
        NavTable();
        ActiveMenu();
        EventMenu();
    </script>
{% endblock %}